@charset "UTF-8";
/* color: #ea711d; border-bottom: 2px solid #ea711d; */
body {background-color: #050528;}
#wrap {min-width: 1020px;}
#header {width: 100%; min-width: 1020px; height: 90px; background-color: rgba(0,0,0,0.6); position: absolute; z-index: 500;}
#header.on {background-color: #fff;}
#header.on .gnb_list > a {color: #111;}

/* header */
#header .inner {width: 1020px; margin: 0 auto; display: flex;}
#header .logo {margin-top: 15px;}
#header .gnb_list {display: inline-block; width: 150px;}
#header .gnb_list:first-child {margin-left: 43px;}
#header .gnb_list > a {display: block; letter-spacing: 0.025em; padding: 36px 0 0; height: 90px; font-weight: bold; font-size: 15px; color: #fff; text-align: center;}
#header .gnb_list > a:hover,#header .gnb_list > a:focus {color: #ea711d; border-bottom: 2px solid #ea711d;}
#header .gnb>li:nth-child(5) .gnb_depth a {border: none;}
#header .gnb_right {float: right;}
#header .gnb_right>li {position: relative; margin-left: 17px; width: 90px; height: 90px; background-color: rgba(0,0,0,0.6); margin-top: 2px;}
#header .gnb_right>li>a {display: block; overflow: hidden; white-space: nowrap; font-size: 12px; line-height: 20px; color: #fff; text-align: center; background-repeat: no-repeat; padding-top: 60px;}
#header .gnb_right>li:first-child {margin-top: 0; background: none;}
#header .gnb_right>li:first-child:hover {background-color: #050528;}
#header .gnb_right>li:nth-child(1):hover { background-color: #050528;}
#header .gnb_right>li:nth-child(2):hover a { background: url(../img/tnavi05_on.png) no-repeat center 15px; }
#header .gnb_right>li:nth-child(3):hover a { background: url(../img/tnavi02_on.png) no-repeat center 15px; }
#header .gnb_right>li:nth-child(4):hover a { background: url(../img/tnavi03_on.png) no-repeat 30px 15px; }
#header .gnb_right>li:nth-child(5):hover a { background: url(../img/tnavi04_on.png) no-repeat center 15px; }
#header .gnb_right>li:nth-child(6):hover a { background: url(../img/tnavi01_on.png) no-repeat center 15px; }
#header .gnb_right .lang_box {position: absolute; left: -52px; top: 1px;}
#header .gnb_right .lang_box ul {width: 60px;}
#header .gnb_right .lang_box li {font-weight: bold; text-align: center; background: #fff; width: 50px; height: 50px; font-size: 11px; margin-bottom: 1px;}
#header .gnb_right .lang_box li.on {background-color: #050528;}
#header .gnb_right .lang_box li:hover {background-color: #050528;}
#header .gnb_right .lang_box li a { color: #ea711d; line-height: 50px;}
#header .item_01 {background: url(../img/btn_brc_menu_off.png); background-position: center 25px;}
#header .item_02 {background: url(../img/tnavi05_off.png); background-position: center 15px;}
#header .item_03 {background: url(../img/tnavi02_off.png); background-position: center 15px;}
#header .item_04 {background: url(../img/tnavi03_off.png); background-position: 30px 15px;}
#header .item_05 {background: url(../img/tnavi04_off.png); background-position: center 15px;}
#header .item_06 {background: url(../img/tnavi01_off.png); background-position: center 15px;}

#header .gnb_depth {position: absolute; top: 90px; left: 0; width: 100%; height: 0; overflow: hidden; background: #ebf2f2; z-index: 1;transition: height, 0.1s ease;}
#header .gnb_list.on .gnb_depth { height: 361px;}
#header .gnb_depth > div {position: relative; padding: 15px 0 16px; margin: 0 auto; width: 1020px;}
#header .gnb_depth .sub_tit {position: absolute; left: 0; font-size: 22px; line-height: 45px;}
#header .gnb_depth .depth_wrap {width: 864px; margin-left: 155px;}
#header .gnb_depth .depth_wrap ul {margin: 5px 0;}
#header .gnb_depth .depth_wrap>ul>li {float: left; width: 212px; height: 100%; padding: 0 12px 20px;}
#header .gnb_depth .depth_wrap li:nth-child(5) {clear: both;}
#header .gnb_depth .depth_wrap>ul>li>a {display: block; line-height: 16px; padding: 8px 0; font-weight: 600; border-bottom: 1px solid #ddd; letter-spacing: 0.01em;}
#header .gnb_depth .depth_wrap>ul>li>ul {margin-top: 8px;}
#header .gnb_depth .depth_wrap>ul>li>ul>li {overflow: hidden; margin-top: 3px;}


















/* container */
#main_slider {position: relative; min-height: 200px; }
#main_slider .main_slogan {position: absolute; top: 350px; left: 50%; width: 1020px; margin: 0; margin-left: -510px; z-index: 10;}

#main_slider .slider_wrapper {position: relative; margin: 0 auto;}
#main_slider .slider_list {width: 100%; overflow: hidden; position: relative; height: 760px;}
#main_slider .slider_list .item {width: 100%; min-width: 1920px; position: absolute; left: 0; background-size: cover; background-repeat: no-repeat; background-position: center top; height: 760px;}
#main_slider .slider_list .bg_01 {background-image: url(../img/main_slide04.jpg);}
#main_slider .slider_list .bg_02 {background-image: url(../img/main_slide05.jpg);}
#main_slider .slider_list .bg_03 {background-image: url(../img/main_slide07.jpg);}

#main_slider .slider_pager {position: absolute; top: 650px; left: 260px;}
#main_slider .slider_pager span {display: inline-block;}
#main_slider .slider_pager span.active a {background-color: #fff; height: 2px;}
#main_slider .slider_pager a {display: inline-block; background-color: #ea711d; font-size: 0; width: 41px; height: 1px;}


/* content */
#content {background: url(../img/main_sec01.jpg) no-repeat center top; text-align: center; width: 100%; margin: 0 auto; font-family: 'Chakra Petch',sans-serif;}
#content .newsroom_area {padding: 100px 0 50px 0;}
#content .inner {width: 100%; max-width: 1020px; padding: 0 0 50px; margin: 0 auto;}
#content .title {position: relative; display: inline-block; font-weight: bold; font-size: 28px; line-height: 30px; color: #fff; letter-spacing: 0.025em; padding-bottom: 20px;}
#content .desc {font-size: 16px; color: #fff; padding-top: 23px;}
#content .title::before {content: ''; display: block; width: 40px; height: 1px; position: absolute; background-color: #ea711d; bottom: 0; left: 45%;}
#content ul.news_cont {padding-top: 21px; width: 1050px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-around;}
#content ul.news_cont li {height: 240px; text-align: left; background:linear-gradient(-45deg, transparent 45px, #fff 0); position: relative;}
#content ul.news_cont li a {display: block; width: 320px; height: 100%; padding: 20px; float: left; color: #111;}
#content ul.news_cont li:nth-child(1n) {margin-top: 30px;}
#content ul.news_cont .col1:first-child a {width: 670px; }
#content .newsroom_area li:not(.col1):hover .news_title,
#content .news_cont li:not(.col1):hover .news_category {color: #ea711d;}

#content .news_category {font-weight: bold; font-size: 18px; letter-spacing: -0.02em; position: absolute; top: 20px;}
#content .col1 .news_category {color: #ea711d; display: inline-block;}
#content .col1 .news_title {font-size: 26px; display: inline-block; padding-top: 50px; letter-spacing: -0.05em; line-height: 1.25em; color: #fff;}
#content .col1.conbox {background: url(../img/869670150674700.png) no-repeat right bottom;}
#content .col1 a {background: url(../img/main_conbox_lasted_cover.png) no-repeat right bottom;}
#content .col1 a:hover {background:linear-gradient(-45deg, transparent 45px, rgba(0,0,0,0.3))}
#content .col1 a:hover .news_category {color: #fff;}
#content .news_title {font-size: 16px; letter-spacing: -0.1em; padding-top: 50px; display: inline-block;}
#content .news_date {font-size: 17px; color: #999; position: absolute; right: 20px; top: 20px;}
#content .news_more {position: absolute; left: 20px; bottom: 20px; font-size: 18px; color: #999;}

#content .social_area {overflow: hidden;}
#content .social_area .news_title {display: block; font-size: 15px; margin-top: 35px; letter-spacing: -0.10em;}
#content .social_area [class^=news_icon] {float: right; width: 70px; height: 67px; background-repeat: no-repeat; background-position: center top;}
#content .social_area .news_icon_01 {background-image: url(../img/main_icon_07.png);}
#content .social_area .news_icon_02 {background-image: url(../img/main_icon_08.png);}
#content .social_area .news_icon_03 {background-image: url(../img/main_icon_09.png);}
#content .social_area .news_icon_04 {background-image: url(../img/main_icon_10.png);}
#content .social_area .news_icon_05 {background-image: url(../img/main_icon_11.png);}
#content .social_area .news_icon_06 {background-image: url(../img/main_icon_12.png);}

#content .social_area li:nth-child(1):hover .news_icon_01 {background-image: url(../img/main_icon_07_over.png);}
#content .social_area li:nth-child(2):hover .news_icon_02 {background-image: url(../img/main_icon_08_over.png);}
#content .social_area li:nth-child(3):hover .news_icon_03 {background-image: url(../img/main_icon_09_over.png);}
#content .social_area li:nth-child(4):hover .news_icon_04 {background-image: url(../img/main_icon_10_over.png);}
#content .social_area li:nth-child(5):hover .news_icon_05 {background-image: url(../img/main_icon_11_over.png);}
#content .social_area li:nth-child(6):hover .news_icon_06 {background-image: url(../img/main_icon_12_over.png);}


#content .investor_area .desc {padding-bottom: 36px;}
#content .investor_area .inner {margin-top: 46px; padding-bottom: 0;}
#content .investor_area .boxwrap {overflow: hidden; border-top: 1px solid #5a5a5a; border-bottom: 1px solid #5a5a5a; padding: 10px 0;}

#content .boxwrap .ir_left {float: left; padding: 60px 30px 6px; width: 40%;}
#content .boxwrap .ir_right {display: flex; flex-wrap: wrap; padding: 0 15px; margin-top: 30px;}
#content .boxwrap .ir_right li {display: inline-block; width: 33.33333333%; padding: 0 15px;}
#content .boxwrap .ir_right li:nth-child(-n+3) a {border-bottom: 1px solid #5a5a5a;}
#content .boxwrap .ir_right li a {height: 130px; display: block; padding-top: 80px; margin: 20px 0; color: #fff; font-size: 16px; background-position: center top; background-repeat: no-repeat;}
#content .boxwrap .ir_right li:nth-child(1) a{background-image: url(../img/main_icon_01.png);}
#content .boxwrap .ir_right li:nth-child(2) a{background-image: url(../img/main_icon_02.png);}
#content .boxwrap .ir_right li:nth-child(3) a{background-image: url(../img/main_icon_03.png);}
#content .boxwrap .ir_right li:nth-child(4) a{background-image: url(../img/main_icon_04.png);}
#content .boxwrap .ir_right li:nth-child(5) a{background-image: url(../img/main_icon_05.png);}
#content .boxwrap .ir_right li:nth-child(6) a{background-image: url(../img/main_icon_06.png);}
#content .boxwrap .ir_right li:nth-child(1):hover a {background-image: url(../img/main_icon_01_over.png);}
#content .boxwrap .ir_right li:nth-child(2):hover a {background-image: url(../img/main_icon_02_over.png);}
#content .boxwrap .ir_right li:nth-child(3):hover a {background-image: url(../img/main_icon_03_over.png);}
#content .boxwrap .ir_right li:nth-child(4):hover a {background-image: url(../img/main_icon_04_over.png);}
#content .boxwrap .ir_right li:nth-child(5):hover a {background-image: url(../img/main_icon_05_over.png);}
#content .boxwrap .ir_right li:nth-child(6):hover a {background-image: url(../img/main_icon_06_over.png);}



#content .gn_area {padding-top: 140px; background: url(../img/main_sec04.jpg) no-repeat center top; position: relative;}
#content .gn_area .inner {top: -30px; padding: 53px 0 0; background-color: #050528;}
#content .gn_area .locate_menu ul {position: absolute; bottom: 43px; left: 0; right: 0; text-align: center; padding: 0 8%;}
#content .gn_area .locate_menu li {display: inline-block; width: 150px; height: 38px; border-radius: 2px;}
#content .gn_area .locate_menu li.on a {color: #ea711d; border-bottom: 1px solid #ea711d;}
#content .gn_area .locate_menu li a {display: block; height: 36px; font-size: 16px; color: #fff; line-height: 34px; text-align: center; margin: 0 5px;}
#content .gn_area .locate_menu li:last-child a { background: url(../img/arrow_red_bold.png) no-repeat 120px 12px;}
#content .gn_area .locate_menu li:not(.more) a:hover{color: #ea711d; border-bottom: 1px solid #ea711d;}
#content .gn_area .locate_img span {display: none;}
#content .gn_area .locate_img span.show {display: block;}

.shortcut {background-color: #5a5a5a;}
.shortcut .inner {overflow: hidden; padding: 10px 0 10px 160px; width: 1020px; margin: 0 auto; }
.shortcut_list li {display: inline-block;}
.shortcut_list li a {display: block; padding: 0 20px 0 0; font-size: 13px; color: #fff; line-height: 20px;}



#footer .inner {position: relative; width: 1020px; margin: 0 auto; padding: 30px 0 40px 160px; color: #808080;}
#footer img {position: absolute; left: 0; top: 20px;}
#footer .policy_list {padding-bottom: 15px; display: inline-block;}
#footer .policy_list a {display: inline-block; padding: 0 20px 0 0; color: #808080;}
#footer address {display: block; line-height: 19px; padding-top: 15px; border-top: 1px solid #5a5a5a;}
#footer .footer_info li {display: inline-block;}
#footer .footer_info li::after {content: ''; display: inline-block; width: 1px; height: 8px; background-color: #808080; margin: 0 15px; bottom: 1px; position: relative;}
#footer .footer_info li:last-child::after {display: none;}
#footer .copy {font-size: 11px; font-weight: 600; display: block; line-height: 18px;}
#footer .foot_mark {position: absolute; right: 70px;top: 60px;}














